<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>이력서</title>
    <link rel="stylesheet" href="../../static/css/resume_css/redhouse33@naver.com.css">
</head>
<body>
    <!-- <button onclick="alert('버튼이 클릭되었습니다!')">확인</button> -->

    <div class="container">
        <div class="header">
            <img src="../../static/images/resume_images/redhouse33@naver.com.png" alt="증명사진" class="photo">
            <div class="contact-info">
                <h1>김홍집</h1>
                <p>Email: redhouse33@naver.com</p>
                <p>Phone: 010-7000-7000</p>
                <p>https://github.com/redhouse33</p>
            </div>
        </div>

        <section class="profile">
            <h2>프로필</h2>
            <p>전자공학을 전공했지만 클라우드에 관심이 생겨 열심히 공부하고 있습니다!</p>
        </section>
        
        <hr>

        <section class="education">
            <h2>학력</h2>
            <p>한양대학교 에리카캠퍼스, 전자공학 학사</p>
            <p>2019년 3월 - 2025년 2월</p>
        </section>
        
        <hr>

        <section class="experience">
            <h2>경력</h2>
            <h3>kakao x goorm DEEPDIVE 클라우드 엔지니어링 과정</h3>
            <p>2024년 8월 - 현재</p>
            <ul>
                <li>AWS실습</li>
                <li>쿠버네티스 실습</li>
            </ul>
        </section>
        
        <hr>

        <section class="awards">
            <h2>수상</h2>
            <h3>2024년 ASK 논문경진대회 은상 수상</h3>
            <ul>
                <li>한국정보처리학회 주관</li>
                <li>Isolation Forest 알고리즘을 활용한 증권 데이터 모니터링 시스템 개발</li>
            </ul>
        </section>
    </div>
</body>
</html>
